* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.modal-open-button,
.modal-close-btn {
  cursor: pointer;
  margin-left: auto;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  animation: slideUp 0.5s ease-out forwards;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.modal-content {
  background-color: #ffffff;
  max-width: 470px;
  height: 440px;
  padding: 15px;
}

.modal-close-btn {
  font-family: "GmarketSansMedium";
}

@keyframes slideUp {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@font-face {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

.header {
  font-family: "Freesentation-9Black";
  font-size: 19px;
  font-weight: 100;
}

@font-face {
  font-family: "STUNNING-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/STUNNING-Bd.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.li {
  font-family: "STUNNING-Bd";
  font-weight: 400;
  display: inline-block;
  padding: 6px;
  margin-left: 1px;
  font-size: 16px;
}

.detailLi {
  font-family: "STUNNING-Bd";
  display: inline-block;
  font-size: 11px;
  padding: 6px;
  border-radius: 50px;
  margin: 3px;
  color: rgb(147, 152, 158);
  border: 1px solid rgb(232, 232, 233);
  background-color: white;
}
