* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.modal-open-button,
.modal-close-btn {
  cursor: pointer;
  margin-left: auto;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  animation: slideUp 0.5s ease-out forwards;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.modal-content {
  background-color: #ffffff;
  max-width: 470px;
  height: 440px;
  padding: 15px;
}

.modal-close-btn {
  font-family: "GmarketSansMedium";
}

@keyframes slideUp {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
